Repository bhimrazy/bhimraj.com.np: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,scss,md,mdx,yml,yaml}": [
    "prettier --write"
  ]
}

fix: remove unused typedRoutes option and clean up content-collections path in configuration
  next.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: add --no-verify flag to auto-fix commit in lint-fix workflow
  .github/workflows/lint-fix.yml
Due: prettier --write

fix: update pre-commit script to run lint-staged and add husky to prettierignore
  .husky/pre-commit
  .prettierignore
Due: none

feat: add CODEOWNERS file to define repository ownership
  .github/CODEOWNERS
Due: none

fix: update pre-commit hook to run lint-staged and add error handling
  .husky/pre-commit
Due: none

feat: add Separator component and integrate it into Header; update dependencies
  bun.lock
  package.json
  src/components/header.tsx
  src/components/ui/separator.tsx
Due: eslint --fix, prettier --write

fix: remove redundant postinstall script for husky initialization
  package.json
Due: prettier --write

revert
  .husky/pre-commit
Due: none

feat: add .env.example file with API and configuration settings
  .env.example
  README.md
Due: prettier --write

feat: add link-check job to CI workflow for improved link validation
  .github/workflows/ci.yml
Due: prettier --write

fix: remove --exclude-mail option from link checker arguments
  .github/workflows/ci.yml
Due: prettier --write

fix: update project description formatting for clarity
  src/content/projects/covidologist-detect-presence-of-covid-19.md
Due: prettier --write

feat: add LICENSE file and update README with correct license link
  LICENSE
  README.md
  src/content/projects/covidologist-detect-presence-of-covid-19.md
Due: prettier --write

fix: update link checker arguments to exclude "linkedin.com"
  .github/workflows/ci.yml
Due: prettier --write

fix: update link checker arguments to exclude "instagram.com"
  .github/workflows/ci.yml
Due: prettier --write

fix: update CodeQL workflow to include TypeScript in the analysis matrix
  .github/workflows/codeql.yml
Due: prettier --write

fix: simplify CodeQL workflow by removing JavaScript and Bun setup
  .github/workflows/codeql.yml
Due: prettier --write

Update LinkedIn and Twitter/X handles in README
  README.md
Due: prettier --write

feat: add workflow to automatically update Dependabot lockfile
  .github/workflows/dependabot-lockfile.yml
Due: prettier --write

fix: simplify condition for Dependabot lockfile update workflow
  .github/workflows/dependabot-lockfile.yml
Due: prettier --write

apply suggestions from copilot
  .github/workflows/dependabot-lockfile.yml
Due: prettier --write

Add workflow to automatically update Dependabot lockfile (#19)
  .github/workflows/dependabot-lockfile.yml
Due: prettier --write

hotfix: update bun.lock handling in Dependabot workflow
  .github/workflows/dependabot-lockfile.yml
Due: prettier --write

hotfix: update git diff command and repo reference in Dependabot workflow
  .github/workflows/dependabot-lockfile.yml
Due: prettier --write

deps: downgrade eslint-config-next from 16.0.0 to 15.5.6
  bun.lock
  package.json
Due: prettier --write

update
  .github/pull_request_template.md
Due: prettier --write

chore: update dependencies to latest versions
  bun.lock
  package.json
Due: prettier --write

chore: update dependencies to latest versions (#20)
  bun.lock
  package.json
Due: prettier --write

chore: update ESLint configuration and dependencies
  bun.lock
  eslint.config.mjs
  package.json
Due: prettier --write

chore: update ESLint configuration and dependencies (#24)
  bun.lock
  eslint.config.mjs
  package.json
Due: prettier --write

chore: update dependencies and scripts, improve TypeScript configuration
  bun.lock
  next-env.d.ts
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix: update import path in next-env.d.ts and improve formatting in button props interface style: enhance markdown formatting in event-driven architecture blog post
  next-env.d.ts
  src/components/ui/button.tsx
  src/content/blog/event-driven-architecture.mdx
Due: eslint --fix, prettier --write

Exclude content-collections.dev in link-check CI workflow
  .github/workflows/ci.yml
Due: prettier --write

chore: update dependencies and fix route types import
  bun.lock
  next-env.d.ts
  package.json
Due: eslint --fix, prettier --write

fix: update copyright year dynamically in footer component
  src/components/footer.tsx
Due: eslint --fix, prettier --write

fix: add missing content field to BlogPost and Project collections
  content-collections.ts
Due: eslint --fix, prettier --write

fix: replace Link component with span for 'Read more' in project section
  src/components/projects/project-section.tsx
Due: eslint --fix, prettier --write

fix: remove unused content field from BlogPost and Project collections
  content-collections.ts
Due: eslint --fix, prettier --write

fix: upgrade @content-collections/core and @types/node dependencies
  bun.lock
Due: none
